---
import { getCollection } from "astro:content";
import Layout from "../../layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import Giscus from "@components/Giscus.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { 
      category: post.data.category, 
      id: post.data.id.toString() 
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <Container>
    <div class="animate mt-10 space-y-4">
      <div class="flex gap-2 text-sm text-gray-500">
        <a href="/" class="hover:text-black dark:hover:text-white">Home</a>
        <span>/</span>
        <span>{post.data.category}</span>
      </div>
      <h1 class="text-3xl font-bold text-black dark:text-white">
        {post.data.title}
      </h1>
      <article class="prose">
        <Content />
      </article>
      <Giscus />
    </div>
  </Container>
</Layout>